ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: normal;
}

h3 {
  font-size: 18px;
}

span {
  font-weight: bold;
}

body {
  background-color: #fefae0;
}

body * {
  font-family: sans-serif;
}

nav {
  background-color: #ccd5ae;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 28px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

nav * {
  display: inline;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.dropdown:hover {
  background-color: #e9edc9;
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ccd5ae;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 15px 15px;
  display: block;
  font-size: 15px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #e9edc9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  padding: 50px 50px 50px 50px;
}

.container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-left: 7px solid #264653;
  padding: 5px 10px 5px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}