ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

body {
    font-family: sans-serif;
}

nav {
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

nav *{
    display: inline;
}

.nav-item {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .nav-item:hover .dropdown-content {
    display: block;
  }